ion-label
{
font-weight: bolder;
}

ion-card
{
    height: 2.5cm;
    width: 3cm;
}
.card
{
    height:5cm;
    width: 95%;
}

ion-button
{
    
}
i{
    
}
.img
{
    height:3cm;
    width:80%;
    margin-left: 10%;
}

// .title {
//     font-size: 1.15rem;
//     font-weight: 400;
//     color:red;
//     text-align: center;
//   }

//   .content
//   {
//       margin-bottom:1cm;
//       margin-left:20%;
//   }