<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Stations
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row class="row" >
    <ion-col  [size]="4" *ngFor="let station of stations">
        <ion-card>
          <ion-card-content >
            <img src={{station.image}} (click)="getId(station.idNumber)">
          </ion-card-content>
          <ion-label (click)="getId(station.idNumber)">{{station.name}}</ion-label>
        </ion-card>
    </ion-col>
  </ion-row>

  </ion-grid>

 
  
  
</ion-content>
