<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Stations
    </ion-title>
  </ion-toolbar>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngIf="selectedid" class="card">
    <audio id="player" src="{{selected[0].streamlink}}" autoplay> </audio>
    <ion-card-header>
      <ion-card-subtitle> <img src={{selected[0].image}} class="img" /></ion-card-subtitle>
      <ion-card-title class="title">{{selected[0].name}}</ion-card-title>
      <i class="material-icons" class="heart" (click)="favourite(selected[0]._id)">
        favorite
      </i>
    </ion-card-header>
  
    <ion-card-content class="content" >
      <ion-button color="light" >
        <i class="material-icons" (click)="back()">
          skip_previous
        </i>
      </ion-button>
    
      
      <ion-button color="light" *ngIf="pausebutton">
        <i  onclick="document.getElementById('player').play()" class="material-icons"  (click)="playpause()">pause</i>
      </ion-button>
    
      <ion-button color="light" *ngIf="playbutton">
        <i  onclick="document.getElementById('player').pause()" class="material-icons"  (click)="pauseplay()"> play_arrow</i>
      </ion-button>
    
      <ion-button color="light">
      <i class="material-icons" (click)="next()">
          skip_next
      </i>
      </ion-button>
    </ion-card-content>
 
  </ion-card>
 

  <ion-grid>
    <ion-row class="row" >
    <ion-col  [size]="4" *ngFor="let station of stations">
        <ion-card>
          <ion-card-content >
            <img src={{station.image}} (click)="getId(station.idNumber)">
          </ion-card-content>
          <ion-label (click)="getId(station.idNumber)">{{station.name}}</ion-label>
        </ion-card>
    </ion-col>
  </ion-row>

  </ion-grid>

 
  
  
</ion-content>
