ion-label
{
font-weight: bolder;
}

ion-card
{
    height: 2.5cm;
    width: 3cm;
}
.card
{
    height:6cm;
    width: 93%;
    box-shadow: 0 0 3px rgba(0, 0, 0, .15), 0 2px 4px rgba(0, 0, 0, .15);
    
}

ion-button
{
    &:focus,
    &:hover {
      color:red;
    }
}

.heart{
  margin-left: 42%;
}
.img
{
    height:2.5cm;
    width:80%;
    margin-left: 10%;
    border-radius: 40%;
}

.title {
    font-size: 1.15rem;
    font-weight:bolder;
    color:red;
   text-align: center;
  }

  .content
  {
      margin-bottom:0.1cm;
      margin-left: 21%;
     
  }

