<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Radio Streaming App</ion-card-subtitle>
      <ion-card-title>MaBe Radio</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      What does streaming mean on radio?
Internet radio (also web radio, net radio, streaming radio, e-radio, IP radio, online radio) is a digital audio service transmitted via the Internet. 
Broadcasting on the Internet is usually referred to as webcasting since it is not transmitted broadly through wireless means.
    </ion-card-content>
  </ion-card>
</ion-content>
