ion-card
{
    margin-top: 2cm;
    height:7cm;
    width: 93%;
    box-shadow: 0 0 3px rgba(0, 0, 0, .15), 0 2px 4px rgba(0, 0, 0, .15);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight:bolder;
    color: grey;
    font-variant-caps: all-small-caps;
}